.multichat-input {
   background-color: var(--color-background-base);
   color: var(--color-white);
   border: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   height: 100%;
   outline: none;
   text-indent: 5px;
}